name: Deploy to EC2

on:
  push:
    branches:
      - master  # ganti kalau kamu deploy dari branch lain

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Debug EC2_HOST
        run: | 
          echo "Connecting to EC2 Host: ${{ secrets.EC2_HOST }}"

      - name: Set up SSH
        run: |
          if [ -z "${{ secrets.EC2_HOST }}" ]; then
            echo "âŒ Error: EC2_HOST is empty or not set in GitHub Secrets."
            exit 1
          fi
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd /home/ubuntu/myapp/be_auth-jajanskuy
            git pull origin master
            docker-compose down
            docker-compose up -d --build
          EOF